{#
 # @param progressAnon the progress bar data for anonymization
 # @param progressVoters the progress bar data for voter
 # @param voters total number of voters
 # @param anon total number of people that anonymized
 #}

{% if anon > 5 and voters > 5 %}
{% if access.hlasovanie.isVotingOpen %}
<p>Doteraz sa zúčastnilo <strong>{{ voters }} študentov</strong>,
{{ anon }} z nich už hlasovanie ukončilo.
{% if skratka_fakulty == 'FMFI' %}
Naším cieľom je dosiahnuť aspoň 50% účasť. Preto neváhajte a zapojte sa tiež!
{% else %}
Neváhajte a zapojte sa tiež!
{% endif %}
</p>
{% else %}
<p>V ankete hlasovalo <strong>{{ voters }}</strong> študentov.</p>
{% endif %}
<div class="progressbar-welcome-wrapper"
     data-anon="{{ "%.0f%%" | format(progressAnon.percentDone) }}"
     data-voters="{{ "%.0f%%" | format(progressVoters.percentDone) }}"
    ></div>

{% endif %}
