{% extends 'AnketaBundle:Hlasovanie:index.html.twig' %}

{#
 # @param title description of the active category
 # @param questions list of questions for the active category
 # @param answers list of answers for the active category
 # @param activeItems list of active items in menu
 # @param categoryType type of active category
 # @param subject current subject if it is relevant for the category type
 #}

{% block title %}{{ title }} - Anketa{% endblock %}

{% block navigation %}
    {% render "AnketaBundle:Hlasovanie:menu" with { 'activeItems': activeItems } %}
{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
    <form action="#" method="post">
    {% if categoryType == 'teacher_subject' %}
        <p>Ak vás tento učiteľ neučil, môžete otázky preskočiť a zvoliť <em>Ulož a choď ďalej</em>.</p>
    {% elseif categoryType == 'subject' %}
        <p>Chýba niekto v zozname učiteľov k tomuto predmetu?
        <a href="{{ path('assoc_teacher_with_subject', {'subject_code': subject.code}) }}"
           >Dajte nám vedieť a my to napravíme</a>.
        </p>
    {% endif %}
    {% block submit %}
    <div class="submit">
        <input class="save" type="submit" name="save" value="Ulož" />
        <input class="next" type="submit" name="next" value="Ulož a choď ďalej &raquo;" />
    </div>
    {% endblock %}
    {% for question in questions %}
        <div class="question{{ question.stars ? ' stars' : '' }}">
            <h3>{{ question.question }}</h3>
            {% if question.hasDescription %}
                <div class="description">{{ question.description }}</div>
            {% endif %}
            
            {% if question.options | length %}
              <div class="option none">
                <label for="question_{{ question.id }}_empty">
                  <input type="radio"
                         id="question_{{ question.id }}_empty"
                         name="question[{{ question.id }}][answer]"
                         value="-1"
                      {# Warning: "x.y is not defined" or "not x.y is defined" does not work, see
                         https://github.com/fabpot/Twig/issues/319 #}
                      {% if answers[question.id] is defined %}
                        {% if not answers[question.id].hasOption %}
                          checked="checked"
                        {% endif %}
                      {% else %}
                         checked="checked"
                      {% endif %} />
              žiadna odpoveď
              </label>
              </div>

            {% for option in question.options %}
                <div class="option">
                  <label for="question_{{ question.id }}_{{ option.id }}">
                    <input type="radio"
                           id="question_{{ question.id }}_{{ option.id }}"
                           name="question[{{ question.id }}][answer]"
                           value="{{ option.id }}"
                        {% if answers[question.id] is defined and answers[question.id].hasOption and answers[question.id].option.id == option.id %}
                            checked="checked"
                        {% endif %} />
                    {{ option.option }}
                  </label>
                </div>
            {% endfor %}
            {% endif %}

            {% if question.hasComment %}
            <div class="comment">
                <div><label for="comment_{{ question.id }}">Komentár:</label></div>
                <textarea id="comment_{{ question.id }}"
                          name="question[{{ question.id }}][comment]"
                          cols="40"
                          rows="4"
                    >{{ answers[question.id] is defined ? answers[question.id].comment : "" }}</textarea>
            </div>
            {% endif %}
        </div>
    {% endfor %}
    {{ block('submit') }}
    </form>
{% endblock %}
