{% extends 'AnketaBundle::layout.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block content %}
<div class="faq">
    {# !!! tato otazka musi zostat prva, lebo predstavuje uvod do celeho FAQ. !!! #}
    <h2 class="faq">Načo je dobrá anketa?</h2>
        <div class="faq-item">
            Anketa je v prvom rade možnosť konštruktívne hodnotiť rôzne
            aspekty fakulty. Tieto dáta poslúžia jednak budúcim študentom,
            ktorí si budú môcť na základe komentárov a hodnotení spraviť
            predstavu o jednotlivých predmetoch, ale aj samotní prednášajúci
            a cvičiaci majú možnosť zistiť čo si o predmetoch myslia
            študenti. V neposlednom rade je anketa podnetom pre vedenia
            jednotlivých katedier, ako zlepšiť úroveň výučby, alebo upraviť
            študijné programy. Len tak mimochodom, povinnosť usporiadať
            anketu vyplýva zo zákona o vysokých školách :)
        </div>
    {# !!! tato otazka musi zostat druha, lebo sa ju tak casto pytaju. !!! #}
    <h2 class="faq">Keď je to anonymné, prečo sa musím prihlasovať?</h2>
        <div class="faq-item">
            <p>
                Dôvodov je niekoľko. Za prvé, potrebujeme zabezpečiť, aby mohli
                hlasovať iba študenti, ktorí mali jednotlivé predmety
                zapísané. Za druhé, je dôležité, aby nikto nemal viac hlasov. Za
                tretie, anketa obsahuje veľké množstvo otázok a vyplniť ich naraz
                by mohla byť nepríjemná otrava. Pomocou prihlasovania máte
                možnosť si vypĺňanie rozdeliť na viacero častí.
            </p>
            <p>
                Dočasné neanonymné dáta sú ukladané v zabezpečenej databáze a
                majú k nim prístup iba vybraní vývojári. Kto je spokojný
                so svojimi odpoveďami, klikne na tlačidlo "Anonymizuj a ukonči
                hlasovanie", ktoré zabezpečí vymazanie identifikátora pri jeho
                odpovediach, takže od tohto momentu nie je možné priradiť odpoveď
                k nikomu konkrétnemu, či odlíšiť tieto odpovede od ostatných. V
                databáze zostane už len informácia, že daný človek už hlasoval a
                táto informácia zostane neverejná.
            </p>
            <p>
                V databáze  si pri konkrétnej odpovedi pamätáme aj študijný odbor hlasujúceho, aby sme vedeli lepšie
                vyhodnotiť situácie, keď študenti viacerých odborov navštevujú rovnaký predmet.
            </p>
        </div>
    {# !!! nove otazky pridavat az sem, alebo este nizsie. !!! #}
    <h2 class="faq">Dá sa vyplnením ankety vôbec niečo dosiahnuť?</h2>
    {% if skratka_fakulty == 'FMFI' %}
        <div class="faq-item">
            Vplyv ankety na chod fakulty je priamo úmerný účasti študentov.
            Vedenie fakulty berie početné názory študentov vážne &mdash;
            prečítajte si <a href="{{ asset('bundles/anketa/files/anketa-stanovisko-2010.pdf') }}">stanovisko vedenia
            k výsledkom poslednej ankety</a>, ktoré bolo motivované vyše 40% účasťou študentov.
        </div>
    {% else %}
        <div class="faq-item">
            To, či sa vyplnením ankety niečo zmení, závisí v prvom rade od Vás - Vaša účasť na ankete je prvým, ale potrebným krokom.
            Ako motivácia môže poslúžiť výsledok ankety na Fakulte matematiky, fyziky a informatiky, kde anketa prebehla minulý rok.
            Po vyše 40% účasti študentov došlo k viacerým zmenám (napr. zmeny učiteľov, upravenie obsahov predmetov a pod.). Viac si môžte 
            prečítať v <a href="{{ asset('bundles/anketa/files/anketa-stanovisko-2010.pdf') }}">stanovisku vedenia
            k výsledkom ankety z FMFI</a>. Teda niečo sa dosiahnuť určite dá :)
        </div>
    {% endif %}

    {% if skratka_fakulty == 'FMFI' %}
    <h2 class="faq">Dokedy môžem hlasovať?</h2>
        <div class="faq-item">
            Hlasovať je možné len do 15.1.2012 23:59:59.
        </div>
    {% else %}
        {# TODO zistit dokedy je otvorene hlasovanie! #}
    {% endif %}

    <h2 class="faq">Kto je za anketou?</h2>
        <div class="faq-item">
            <p>
            Anketu vytvoril <a href="http://svt.fmph.uniba.sk/">Študentský Vývojový Tím</a>{% if skratka_fakulty != 'FMFI' %} z FMFI{% endif %}.
            {% if skratka_fakulty == 'FMFI' %}

                Ak sa chcete stať členom a prispieť tak k vývoju ankety a ďalších
                zaujímavých projektov, napíšte nám.
            {% endif %}
            </p>
            <p>
        Anketa je open source projekt licencovaný pod GPLv3+,
        zdrojové kódy a ďalšie informácie sú na <a href="http://code.google.com/p/fmfi-anketa/">http://code.google.com/p/fmfi-anketa/</a>.
            </p>
        </div>
    <h2 class="faq">Kto sa dostane k dátam z ankety?</h2>
        <div class="faq-item">
            {% if smernica_dekana is not empty %}
                <p>
                    Prístup k výsledkom ankety sa riadi <a href="{{ smernica_dekana }}">smernicou dekana {{ skratka_fakulty }} UK</a>.
                </p>
            {% endif %}
            <p>
                Štatistické výsledky a anonymné komentáre verejne sprístupňujeme
                po ich spracovaní, zvyšné výsledky si môžu pozrieť všetci
                členovia akademickej obce {{ skratka_fakulty }} UK (študenti aj
                zamestnanci).
            </p>
            {% if skratka_fakulty == 'FMFI' %}
                <p>
                    Pozrite si <a href="/vysledky/2010-2011">výsledky ankety 2010/2011</a>.
                </p>
            {% endif %}

     </div>
    <h2 class="faq">Našiel som bug/napadlo mi vylepšenie. Čo mám robiť?
</h2>
        <div class="faq-item">
        <p>
        Určite nám napíšte mail na adresu <a href="mailto:fmfi-anketa-users@googlegroups.com">fmfi-anketa-users@googlegroups.com</a>.
        </p>
    {% if skratka_fakulty == 'FMFI' %}
        <p>
        Pre akékoľvek ďaľšie poznámky, pripomienky, kritiku, či slová vďaky neváhajte použiť 
        <a href="http://www.facebook.com/FMFIanketa">našu oficiálnu Facebook stránku</a>.
        </p>
    {% else %}
        <p>
        Pre akékoľvek ďaľšie poznámky, pripomienky, kritiku, či slová vďaky neváhajte použiť 
        <a href="http://www.facebook.com/PRIFanketa">našu oficiálnu Facebook stránku</a>.
        </p>
    {% endif %}
        </div>
</div>
{% endblock %}
