{% extends 'AnketaBundle::layout.html.twig' %}
{% block content %}

<h2>{% trans %}welcome.index.studentska.anketa{% endtrans %} {{ skratka_fakulty }} &mdash; {{ active_season.description }}</h2>

<p>
    {% trans %}welcome.index.vitaj{% endtrans %} {{ skratka_fakulty }}!
    {% trans %}welcome.index.zapoj.sa{% endtrans %}
</p>

{% if skratka_fakulty == 'FMFI' %}
<p>Prečítajte si <a href="{{ asset('bundles/anketa/files/Anketa_stanovisko_ZS11_12.pdf') }}">stanovisko vedenia fakulty k výsledkom ankety za zimný semester akademického roku 2011/2012</a>.</p>
<p>Prečítajte si <a href="{{ asset('bundles/anketa/files/anketa-stanovisko-2010.pdf') }}">stanovisko vedenia fakulty k výsledkom ankety za akademický rok 2010/2011</a>.</p>
{% endif %}

{% if access.hlasovanie.isVotingOpen %}
    <p><a class="bigbtn" href="{{ path('anketa') }}">
    <span class="bigbtn_middle"><span class="bigbtn_left"><span class="bigbtn_right bigbtn_in">{% trans %}welcome.index.hlasuj{% endtrans %}</span></span></span></a></p>
    {% if skratka_fakulty == 'FMFI' %}
        {# <p style="text-align: center"> {% trans %}welcome.index.otvorene.do{% endtrans %} <strong>15.1.2012 23:59:59</strong></p> #}
    {% else %}
        {# TODO: dokedy su otvoreni ostatni? #}
    {% endif %}
{% else %}
    <p>{% trans %}welcome.index.hlasovanie.ukoncene{% endtrans %}</p>
    {% if access.statistics.activeSeasonHasVisibleResults %}
        <p><a class="bigbtn" href="{{ path('statistics') }}">
        <span class="bigbtn_middle"><span class="bigbtn_left"><span class="bigbtn_right bigbtn_in">{% trans %}welcome.index.vysledky{% endtrans %}</span></span></span></a></p>
    {% elseif skratka_fakulty == 'FMFI' %}
        <p><strong>{% trans %}welcome.index.zverejnenie.vysledkov{% endtrans %}</strong></p>
    {% else %}
        {# TODO: kedy sa zverejnuju vysledky na inych fakultach? #}
    {% endif %}
{% endif %}

{% render "AnketaBundle:Hlasovanie:globalProgressbar" %}

<p>{% trans %}welcome.index.aka.je.anketa{% endtrans %}</p>
<ul>
<li><b>{% trans %}welcome.index.rychla{% endtrans %}</b> &mdash; {% trans %}welcome.index.rychla.preco{% endtrans %}</li>
<li><b>{% trans %}welcome.index.jednoducha{% endtrans %}</b> &mdash; {% trans %}welcome.index.jednoducha.preco{% endtrans %}</li>
<li><b>{% trans %}welcome.index.k.veci{% endtrans %}</b> &mdash; {% trans %}welcome.index.k.veci.preco{% endtrans %}</li>
<li><b>{% trans %}welcome.index.flexibilna{% endtrans %}</b> &mdash; {% trans %}welcome.index.flexibilna.preco{% endtrans %}</li>
<li><b>{% trans %}welcome.index.anonymna{% endtrans %}</b> &mdash; {% trans %}welcome.index.anonymna.preco{% endtrans %}</li>
<li><b>{% trans %}welcome.index.mobilna{% endtrans %}</b> &mdash; {% trans %}welcome.index.mobilna.preco{% endtrans %}</li>
<li><b>{% trans %}welcome.index.pekne.hviezdicky{% endtrans %}</b> &mdash; {% trans %}welcome.index.pekne.hviezdicky.preco{% endtrans %}</li>
</ul>

<p><strong>{% trans %}welcome.index.aj.ty.hlasuj{% endtrans %}</strong><p>

{% include 'AnketaBundle:Welcome:likebox.html.twig' %}

{% endblock %}
