{% extends 'AnketaBundle::layout.html.twig' %}
{% block content %}

<h2>Študentská anketa {{ skratka_fakulty }} &mdash; {{ active_season.description }}</h2>

<p>
    Vitajte v Študentskej ankete {{ skratka_fakulty }}!
    Zapojte sa aj Vy a prezentujte svoj názor!
</p>

{% if skratka_fakulty == 'FMFI' %}
<p>Prečítajte si <a href="{{ asset('bundles/anketa/files/anketa-stanovisko-2012-leto.pdf') }}">stanovisko vedenia fakulty k výsledkom ankety za letný semester akademického roku 2011/2012</a>.</p>
<p>Prečítajte si <a href="{{ asset('bundles/anketa/files/Anketa_stanovisko_ZS11_12.pdf') }}">stanovisko vedenia fakulty k výsledkom ankety za zimný semester akademického roku 2011/2012</a>.</p>
<p>Prečítajte si <a href="{{ asset('bundles/anketa/files/anketa-stanovisko-2010.pdf') }}">stanovisko vedenia fakulty k výsledkom ankety za akademický rok 2010/2011</a>.</p>
{% endif %}

{% if access.hlasovanie.isVotingOpen %}
    <p><a class="bigbtn" href="{{ path('anketa') }}">
    <span class="bigbtn_middle"><span class="bigbtn_left"><span class="bigbtn_right bigbtn_in">Hlasuj!</span></span></span></a></p>
    {% if active_season.endTime != null %}
        <p style="text-align: center"> Otvorené do: <strong>{{ active_season.endTime|date("d.m.Y") }}</strong>
            {% if active_season.timeToEnd != null %}
                (ostáva {{ active_season.timeToEnd|date("%a") }}  dní)
            {% endif %}
        </p>
    {% endif %}
{% else %}
    <p>Hlasovanie v ankete je ukončené. Ďakujeme všetkým zúčastneným za vyplnenie :)</p>
    {% if access.statistics.activeSeasonHasVisibleResults %}
        <p><a class="bigbtn" href="{{ path('statistics') }}">
        <span class="bigbtn_middle"><span class="bigbtn_left"><span class="bigbtn_right bigbtn_in">Výsledky</span></span></span></a></p>
    {% elseif skratka_fakulty == 'FMFI' %}
        <p><strong>Výsledky budú k dispozícii po ukončení skúškového obdobia.</strong></p>
    {% else %}
        {# TODO: kedy sa zverejnuju vysledky na inych fakultach? #}
    {% endif %}
{% endif %}

{% render "AnketaBundle:Hlasovanie:globalProgressbar" %}

{% if skratka_fakulty == 'FMFI' %}
<p>Aká je anketa?</p>
<ul>
<li><b>K veci</b> &mdash; automaticky načíta Váš zoznam predmetov a učiteľov</li>
<li><b>Flexibilná</b> &mdash; môžete sa k nej vrátiť neskôr, nemusíte všetko vyplniť naraz</li>
<li><b>Anonymná</b> &mdash; po ukončení hlasovania sa nedá zistiť, komu patria ktoré odpovede</li>
<li><b>Mobilná</b> &mdash; hlasujte kdekoľvek a s čímkoľvek, vrátane mobilov a smartfónov</li>
<li><b>Má prekrásne hviezdičky</b> &mdash; náš tím tvrdo pracoval, aby Vám poskytol <em>state-of-the-art</em> hviezdičkové hlasovanie</li>
</ul>
{% else %}
<p>Aká je anketa?</p>
<ul>
<li><b>K veci</b> &mdash; automaticky načíta Váš zoznam predmetov s učiteľmi</li>
<li><b>Flexibilná</b> &mdash; môžete sa k nej vrátiť neskôr, nemusíte všetko vyplniť naraz</li>
<li><b>Anonymná</b> &mdash; po ukončení hlasovania sa nedá zistiť, komu patria ktoré odpovede</li>
<li><b>Mobilná</b> &mdash; hlasujte kdekoľvek a s čímkoľvek, vrátane mobilov a smartfónov</li>
<li><b>Má prekrásne hviezdičky</b> &mdash; náš tím tvrdo pracoval, aby Vám poskytol <em>state-of-the-art</em> hviezdičkové hlasovanie</li>
</ul>

{% endif %}

<p><strong>AJ VÁŠ HLAS MÔŽE ZMENIŤ NAŠU ALMA MATER K LEPŠIEMU ;-)</strong><p>

{% include 'AnketaBundle:Welcome:likebox.html.twig' %}

{% endblock %}
