{% extends 'AnketaBundle::layout.html.twig' %}

{# TODO make separate admin template #}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/anketa/css/admin.css') }}" />
{% endblock %}

{% block content %}
<h1>Administrácia požiadaviek na priradenie učiteľa k predmetu</h1>

{% if tas|length > 0 %}
<p>Sezóna: <strong>{{ active_season.description }}</strong></p>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Učiteľ na pridanie</th>
            <th>Funkcia</th>
            <th>Predmet</th>
            <th>Poznámka</th>
            <th>Akcia</th>
        </tr>
    </thead>
    <tbody>
{% for ta in tas %}
    <tr>
        <td>{{ ta.id }}</td>
        <td>{% if ta.teacher %}{{ ta.teacher.name }} ({{ ta.teacher.login }}){% else %}&#8212;{% endif %}</td>
        <td>{% if not (ta.lecturer or ta.trainer) %}&#8212;{% endif %}{% if ta.lecturer %}učitel{% endif %}{% if ta.lecturer and ta.trainer %}, {% endif %}{% if ta.trainer %}cvičiaci{% endif %}</td>
        <td>{{ ta.subject.name }} [id={{ ta.subject.id }}]</td>
        <td>{{ ta.note }}</td>
        <td>
            <form action="{{ path('admin_teaching_associations_process') }}" method="post">
                <input type="hidden" name="ta_id" value="{{ ta.id }}" />
                {% if ta.teacher and (ta.lecturer or ta.trainer)  %}
                <input type="submit" name="approve" value="Schváliť priradenie" class="btn btn-primary"/><br/><br/>
                {% endif %}
                <input type="submit" name="mark-as-completed" value="&#10004; Označiť za vybavené" class="btn" /><br/><br/>
                <input type="submit" name="delete" value="&#10007; Zmazať" class="btn btn-delete" onclick="return window.confirm('Delete this record?');" />
            </form>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>

<h2>Návod</h2>
<p>Zobrazujú sa iba nevybavené požiadavky z aktuálnej sezóny.</p>
<p><strong>Označením za vybavené</strong> sa pošle oznamovateľovi email o úspešnom vybavení požiadavky. Ak bolo oznamovateľov s rovnakou požiadavkou viac (rovnaký predmet a učiteľ), pošle sa aj im email a ich požiadavky sa tie sa označia za vybavené.</p>
<p><strong>Schválením priradenia</strong> sa vytvorí priradenie učiteľ-predmet. Následne by sa malo (ručne) skontrolovať, že je všetko OK. Ak je, je možné požiadavku označit za vybavenú.</p>

{% else %}
<p>Nebola nájdená žiadna požiadavka.</p>
{% endif %}

{% endblock %}
