{# TODO(ppershing): make title, description, chart, histogram and comments as parameters #}
{% macro displayResults(data, season) %}
    <h2 class="fragment" id="otazka{{ data.id }}"> <a href="#otazka{{ data.id }}">{{ data.title }}</a> </h2>
    <div>
    {# nasledujuci if je nutny, lebo aj polozka pola je null, twig hadze
        Item "description" for "Array" does not exist #}
    {% if data.description is defined %}
        <p class="question-description">{{ data.description }}</p>
    {% endif %}
    </div>
    {% if not data.hasAnswer %}
        Na túto otázku nikto neodpovedal.
    {% else %}
        {% if data.chart is not null %}
            <img src="{{ data.chart.url }}" width="{{ data.chart.width }}" height="{{ data.chart.height }}" alt="">
        {% endif %}
        {% if data.histogram is not empty %}
            <div class="stats-details">
                <table>
                    <thead>
                        <tr>
                            <th> Možnosť </th>
                            <th> hlasov </th>
                            <th> podiel </th>
                            {% if data.hasDifferentOptions %}
                            <th> <span title="Váha použitá pri počítaní štatistiky" class="help-tooltip">V</span> </th>
                            {% endif %}
                        </tr>
                    </thead>
                    {% for row in data.histogram %}
                        <tr>
                            <td> {{ row.title }} </td>
                            <td class="numeric"> {{ row.cnt }} </td>
                            <td class="numeric"> {{ "%.0f" | format(row.portion*100) }}% </td>
                            {% if data.hasDifferentOptions %}
                                <td class="numeric"> {{ row.value }} </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                <ul>
                    <li data-cnt="{{ data.stats.cnt }}">Počet hlasov: {{ data.stats.cnt }} </li>
                    {% if data.stats.avg is defined %} 
                        <li data-avg="{{ "%.2f" | format(data.stats.avg) }}">Priemer: {{ "%.2f" | format(data.stats.avg) }} </li>
                    {% endif %}
                    {% if data.stats.median is defined %}
                        <li>Medián: {{ "%.2f" | format(data.stats.median) }} </li>
                    {% endif %}
                    {% if data.stats.sigma is defined %} 
                        <li>Smerodajná odchýlka: {{ "%.2f" | format(data.stats.sigma) }} </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        {% if data.commentsAllowed %}
            {% if data.comments is not empty %}
                Komentáre:
                <div class="results-comments">
                {% for comment in data.comments %}
                    <div class='comment' id="komentar{{ comment.answer_id }}">
                    <div class="comment-top"><a class="comment-link" href="#komentar{{ comment.answer_id }}">#{{ comment.answer_id }}</a>:
                        <a href="{{ path('statistics_report', {'season_slug': season.slug, 'answer_id': comment.answer_id}) }}" class="report-link"
                            >Nahlásiť nevhodný komentár</a>
                    </div>
                    <p class="comment-comment">{{ comment.comment|escape|replace({"\n":"<br>"})|raw }}</p>
                    </div>
                {% endfor %}
                </div>
            {% else %}
                K tejto otázke nikto nepridal žiaden komentár.
            {% endif %}
            {% if data.numberOfInappropriateComments > 0 %}
                <p class="inappropriate-comments-info">
                {% if data.numberOfInappropriateComments == 1 %}
                    Bol skrytý 1 nevhodný komentár. Jeho obsah bude napriek tomu preskúmaný.
                {% elseif data.numberOfInappropriateComments in [2, 3, 4] %}
                    Boli skryté {{ data.numberOfInappropriateComments }} nevhodné komentáre. Ich obsah bude napriek tomu preskúmaný.
                {% elseif data.numberOfInappropriateComments > 4 %}
                    Bolo skrytých {{ data.numberOfInappropriateComments }} nevhodných komentárov. Ich obsah bude napriek tomu preskúmaný.
                {% endif %}
                </p>
            {% endif %}
        {% endif %}
    {% endif %}

{% endmacro %}
