{% macro displayResponses(responses, section) %}
    {% if access.statistics.canCreateResponses(section.season) or (access.statistics.canSeeResponses(section.season) and responses is not empty) %}
        <div class="results-comments results-comments-official">
        <h2>Vyjadrenia učiteľov k výsledkom:</h2>
        {% if not access.statistics.commentsBlocked(section.season) %}
            {% for item in responses %}
                <div class='comment' id="odpoved{{ item.response.id }}">
                <div class="comment-top">
                <b>{{ item.author }}</b>:
                </div>
                <p class="comment-comment">{{ item.response.comment|escape|replace({"\n": "<br />"})|raw }}</p>
                {% if access.statistics.canEditResponse(item.response) %}
                <div>
                    <a href="{{ path('response_edit', {'response_id': item.response.id}) }}">Upraviť komentár</a> |
                    <a href="{{ path('response_delete', {'response_id': item.response.id}) }}">Zmazať komentár</a>
                </div>
                {% endif %}
                </div>
            {% endfor %}
            {% if access.statistics.canCreateResponses(section.season) %}
                <div>
                    <a href="{{ path('response_new', {'section_slug': section.slug}) }}">Nový komentár</a>
                </div>
            {% endif %}
        {% else %}
            Komentáre učiteľov si môžete pozrieť po <a href="{{ path('login', {'to': app.request.uri}) }}">prihlásení</a>.
        {% endif %}
        </div>
    {% endif %}
{% endmacro %}
