{% extends 'AnketaBundle::layout.html.twig' %}

{% block navigation %}
    {{ menu.statistics.render(section.activeMenuItems)|raw }}
{% endblock %}

{% block content %}

    <p><a href="{{ section.statisticsPath }}">&laquo; Späť na výsledky</a></p>

    <h2>Nahlásiť nevhodný komentár</h2>

    <p>Komentár #{{ answer_id }}:</p>
    <blockquote><em>{{ comment_body|escape|replace({"\n":"<br>"})|raw }}</em></blockquote>

    <form method="POST" acton="{{ path('statistics_report', {'season_slug': season.slug, 'answer_id': answer_id}) }}">

        <div><label for="note">Dôvod, prečo je komentár nevhodný:</label></div>
        <textarea id="note" name="note" cols="40" rows="2"></textarea>

        <p><input type="submit" value="Odoslať"></p>

    </form>

{% endblock %}
