{% extends 'AnketaBundle::layout.html.twig' %}
{% import 'AnketaBundle:Statistics:displayQuestionMacro.html.twig' as questionMacro %}
{% import 'AnketaBundle:Statistics:displayTeacherResponseMacro.html.twig' as responseMacro %}
{% block title %}{{ section.title }}{% endblock %}
{% block navigation %}
    {% render "AnketaBundle:Statistics:menu" with { 'activeItems': section.activeMenuItems } %}
{% endblock %}
{% block content %}
    {% if section.headingVisible %}
        <h1>{{ section.title }}</h1>
    {% endif %}
    {% if section.preface is not null and section.preface is not empty %}
        <p>{{ section.preface }}</p>
    {% endif %}
    {{ responseMacro.displayResponses(responses, section) }}
    {% for result in results %}
        {% if not loop.first %}
            <hr />
        {% endif %}
        {{ questionMacro.displayResults(result, section.season) }}
    {% endfor %}
{% endblock %}
