{% extends 'AnketaBundle:Statistics:index.html.twig' %}
{% import 'AnketaBundle:Statistics:displayQuestionMacro.html.twig' as questionMacro %}
{% import 'AnketaBundle:Statistics:displayTeacherResponseMacro.html.twig' as responseMacro %}
{% block navigation %}
    {% render "AnketaBundle:Statistics:menuPredmety" with { 
        'season' : season,
        'category' : category,
        'subject_id': subject.id
        }
    %}
{% endblock %}
{% block content %}
    <h1> {{ subject.code }} {{ subject.name }}</h1>
    {% if subjectSeason is not null and subjectSeason.studentCountFaculty is not null %}
        <p>Tento predmet 
            {% if subjectSeason.studentCountFaculty == 0 -%}
                nemal nikto z FMFI zapísaný
            {%- elseif subjectSeason.studentCountFaculty == 1 -%}
                mal zapísaný jeden študent FMFI
            {%- elseif subjectSeason.studentCountFaculty in [2, 3, 4] -%}
                mali zapísaní {{ {2: 'dvaja', 3: 'traja', 4:'štyria'}[subjectSeason.studentCountFaculty] }} študenti FMFI
            {%- else -%}
                malo zapísaných {{ subjectSeason.studentCountFaculty }} študentov z FMFI
            {%- endif -%}
            {%- if subjectSeason.studentCountAll is not null %}
                {% set pocetInych = subjectSeason.studentCountAll - subjectSeason.studentCountFaculty %}
                {% if pocetInych > 0 %}
                    ({{ pocetInych }} z iných fakúlt)
                {% endif %}
            {%- endif -%}.</p>
    {% endif %}
    {{ responseMacro.displayResponse(responses, responseEditable, newResponseLink) }}
    {% for result in results %}
        {% if not loop.first %}
            <hr />
        {% endif %}
        {{ questionMacro.displayResults(result, season) }}
    {% endfor %}
{% endblock %}
