{% extends 'AnketaBundle:Statistics:index.html.twig' %}
{% import 'AnketaBundle:Statistics:displayQuestionMacro.html.twig' as questionMacro %}
{% import 'AnketaBundle:Statistics:displayTeacherResponseMacro.html.twig' as responseMacro %}
{% block navigation %}
    {% render "AnketaBundle:Statistics:menu" with { 'activeItems': [season.id, 'subjects', category, subject.id, teacher.id] } %}
{% endblock %}
{% block content %}
    <h1>{{ subject.code }} {{ subject.name }} - {{ teacher.name }}</h1>
    {{ responseMacro.displayResponse(responses, responseEditable, newResponseLink) }}
    {% for result in results %}
        {{ questionMacro.displayResults(result, season) }}
        <hr/>
    {% endfor %}
{% endblock %}
