{% extends 'AnketaBundle::layout.html.twig' %}
{% import 'AnketaBundle:Statistics:displayQuestionMacro.html.twig' as questionMacro %}
{% import 'AnketaBundle:Statistics:displayTeacherResponseMacro.html.twig' as responseMacro %}
{% block title %}Výsledky {{ season.description }}{% endblock %}
{% block navigation %}
    {{ menu.statistics.render(activeMenuItems)|raw }}
{% endblock %}
{% block content %}
    <h1>Výsledky {{ season.description }}</h1>
    <p>V ankete <em>{{ season.description }}</em> hlasovalo {{ voters }} študentov z
       celkového počtu {{ season.studentCount }}. Celková účasť v ankete
       dosiahla <strong>{{ "%.0f%%" | format(voteProgress.percentDone) }}</strong>.
    </p>
    <p>K jednotlivým častiam výsledkov sa dostanete cez menu.</p>
{% endblock %}
