<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/anketa/css/main.css') }}" type="text/css" media="all" />
        <title>{% block title %}Anketa{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="header">
                <div id="logo">
                    FMFI Anketa 2011
                </div>
                <ul id="menu">
                        <li><a href="{{ path('anketa') }}">Anketa</a></li>
                        <li><a href="{{ path('manage') }}">Správa</a></li>
                        <li><a href="{{ path('ping') }}">Pingni joe-a</a></li>
                </ul>
        </div>
        
        <div class="main_content">
            {% block main_content %}
            {% endblock %}
        </div>
        
        <div class="footer">
SVT Team 2011
        </div>

    </body>
</html>
