{% extends '::base.html.twig' %}

{% block sidebar %}{% block navigation %}{% endblock %}{% endblock %}

{% block user_bar %}
    {{ user_bar() }}
{% endblock %}

{% block section_bar %}
    {{ parent() }}
    {% if access.hlasovanie.isVotingOpen %}
        <a href="{{ path('anketa') }}" class="section">Hlasuj</a>
    {% endif %}
    {% if access.statistics.canSeeTopLevelResults %}
        <a href="{{ path('statistics') }}" class="section">Výsledky</a>
    {% endif %}



{% endblock %}

{% block body %}
    {{ parent() }}
    {% block google_analytics %}
        {{ analytics() }}
    {% endblock %}
{% endblock %}
