{% extends '::base.html.twig' %}

{% block sidebar %}{% block navigation %}{% endblock %}{% endblock %}

{% block user_bar %}
    {{ user_bar() }}
{% endblock %}

{% block section_bar %}
    {{ parent() }}
{#
    {% if is_granted('ROLE_HAS_VOTE') %}
        <a href="{{ path('answer') }}" class="section">Hlasuj</a>
    {% endif %}
#}
    <a href="{{ path('statistics') }}" class="section">Výsledky</a>
    
    {% if is_granted('ROLE_TEACHER') %}
       <a href="{{ path('response') }}" class="section">Moje komentáre</a>
    {% endif %}



{% endblock %}

{% block body %}
    {{ parent() }}
    {% block google_analytics %}
        {{ analytics() }}
    {% endblock %}
{% endblock %}
