{% extends '::base.html.twig' %}

{% block user_bar %}
    {% render "AnketaBundle:User:userBar" %}
{% endblock %}

{% block section_bar %}
    {{ parent() }}
{#
    {% if is_granted('ROLE_HAS_VOTE') %}
        <a href="{{ path('answer') }}" class="section">Hlasuj</a>
    {% endif %}
#}
    <a href="{{ path('statistics') }}" class="section">Výsledky</a>
    
    {% if is_granted('ROLE_TEACHER') %}
       <a href="{{ path('response') }}" class="section">Moje odpovede</a>
    {% endif %}



{% endblock %}

{% block body %}
    {{ parent() }}
    {% block google_analytics %}
        {% render 'AnketaBundle:Tracking:track' %}
    {% endblock %}
{% endblock %}
