{% extends 'AnketaBundle::layout.html.twig' %}

{% block navigation %}
    {{ menu.hlasovanie.render(['subject', subject.code])|raw }}
{% endblock %}

{% block content %}

<a href="{{ path('answer_subject', {'code': subject.code}) }}">&laquo; Späť na predmet</a>

<h2>{{ subject.name }} - Chýbajúci učiteľ?</h2>

<form method="POST" action="{{ path('assoc_teacher_with_subject_process', {'subject_code': subject.code}) }}">

<p>Ak v zozname učiteľov predmetu niekto chýba, napíšte sem jeho celé <strong>meno</strong>
(aj s diakritikou) a <strong>funkciu</strong> (či bol prednášajúci, cvičiaci alebo oboje).</p>

<p>My potom učiteľa ručne pridáme k predmetu <em>{{ subject.name }}</em>. (Môžete pripísať aj
ľubovoľnú inú informáciu, ktorá nám pri tom pomôže.)</p>

<div>
<textarea id="note" name="note" cols="40" rows="6"></textarea>
</div>
<div>
<div class="submit">
    <input type="submit" value="Odošli" />
</div>
</div>
</form>

{% endblock %}
