{% extends 'AnketaBundle:Manage:layoutQuestion.html.twig' %}

{% block content %}
    <h3>{{ question.getQuestion }}</h3>
    {% for option in question.getOptions %}
        &nbsp &nbsp &nbsp &nbsp {{ option.getOption }} (eval: {{ option.getEvaluation }}) <br />
    {% endfor %}
    ID: {{ question.getId }} <br />
    Kategoria: {{ question.getCategory.getCategory }}
{% endblock %}