{% extends 'AnketaBundle:Response:layout.html.twig' %}

{% block content %}
<h1>Zmazať komentár</h1>
<p>
Ste si istí, že chcete vymazať komentár ku:<br />
Predmet: {{ subject.code }} {{ subject.name }}<br />
{% if teacher is not null %}
Učiteľ: {{ teacher.displayName }}<br />
{% endif %}
</p>
<p>Text komentáru:</p>
<p>{{ responseText|escape|replace({"\n": "<br />"})|raw }}</p>
<form action="{{ submitLink }}" method="POST">
<button type="submit">Zmazať</button>
<a href="{{ path('response') }}">Nič nemazať</a>
</form>
{% endblock %}
