{% extends 'AnketaBundle::layout.html.twig' %}

{% block navigation %}
    {{ menu.statistics.render([section.season.id, 'my_comments'])|raw }}
{% endblock %}

{% block content %}
<h1>{% trans %}response.delete.zmazat.komentar{% endtrans %}</h1>
<p>{% trans %}response.delete.urcite.zmazat{% endtrans %}</p>
<p>{% trans %}response.delete.komentar.ku{% endtrans %}:
<a href="{{ section.statisticsPath }}">{{ section.title }}</a></p>
{% if association is not null %}
    <p>{% trans %}response.delete.vasa.funkcia{% endtrans %}: {{ association }}</p>
{% endif %}
<p>{% trans %}response.delete.text.komentaru{% endtrans %}:</p>
<p>{{ responseText|escape|replace({"\n": "<br />"})|raw }}</p>
<form action="{{ submitLink }}" method="POST">
<button type="submit">{% trans %}response.delete.zmazat{% endtrans %}</button>
<a href="{{ section.statisticsPath }}">{% trans %}response.delete.nezmazat{% endtrans %}</a>
</form>
{% endblock %}
