{% extends 'AnketaBundle::layout.html.twig' %}

{% block navigation %}
    {% render "AnketaBundle:Statistics:menu" with { 'activeItems': [section.season.id, 'my_comments'] } %}
{% endblock %}

{% block content %}
<h1>Zmazať komentár</h1>
<p>Ste si istí, že chcete zmazať tento komentár?</p>
<p>Komentár ku: <a href="{{ section.statisticsPath }}">{{ section.title }}</a></p>
{% if association is not null %}
    <p>Vaša funkcia: {{ association }}</p>
{% endif %}
<p>Text komentáru:</p>
<p>{{ responseText|escape|replace({"\n": "<br />"})|raw }}</p>
<form action="{{ submitLink }}" method="POST">
<button type="submit">Zmazať</button>
<a href="{{ section.statisticsPath }}">Nič nemazať</a>
</form>
{% endblock %}
