{% extends 'AnketaBundle:Response:layout.html.twig' %}

{% block content %}
<h1>Zmazať odpoveď</h1>
<p>
Ste si istí, že chcete vymazať odpoveď na:<br />
Predmet: {{ subject.code }} {{ subject.name }}<br />
{% if teacher is not null %}
Učiteľ: {{ teacher.displayName }}<br />
{% endif %}
</p>
<p>Text odpovede:</p>
<p>{{ responseText }}</p>
<form action="{{ submitLink }}" method="POST">
<button type="submit">Zmazať</button>
<a href="{{ path('response') }}">Nič nemazať</a>
</form>
{% endblock %}
