{% extends 'AnketaBundle:Response:layout.html.twig' %}

{% block content %}
<h1>{{ new ? 'Nový komentár' : 'Upraviť komentár' }}</h1>
<p>
Komentár ku:<br />
Predmet: {{ subject.code }} {{ subject.name }}<br />
{% if teacher is not null %}
Učiteľ: {{ teacher.displayName }}<br />
{% endif %}
</p>
<form action="{{ submitLink }}" method="POST">
<textarea name="text" id="text" rows="10">{{ responseText }}</textarea>
{% if new %}
<p>(Text komentáru budete môcť upraviť aj po jeho odoslaní.)</p>
{% endif %}
<button type="submit">Odoslať</button>
</form>
{% endblock %}
