{% extends 'AnketaBundle::layout.html.twig' %}

{% block navigation %}
    {% render "AnketaBundle:Statistics:menu" with { 'activeItems': [section.season.id, 'my_comments'] } %}
{% endblock %}

{% block content %}
<h1>{{ new ? 'Nový komentár' : 'Upraviť komentár' }}</h1>
<p>Komentár ku: <a href="{{ section.statisticsPath }}">{{ section.title }}</a></p>
<form action="{{ submitLink }}" method="POST">
<p class="association-description">Vaša funkcia: <input type="text" class="association" name="association" value="{{ association }}">
<br><span>(Napríklad: {{ section.associationExamples }}. Zobrazí sa pri vašom mene.)</span></p>
<p>Telo komentáru:<br>
<textarea name="text" id="text" rows="10">{{ responseText }}</textarea>
</p>
{% if new %}
<p>(Odoslaný komentár si môžu prečítať všetci študenti a učitelia. Text komentáru budete môcť dodatočne upravovať.)</p>
{% endif %}
<button type="submit">Odoslať</button>
</form>
{% endblock %}
