{% extends 'AnketaBundle::layout.html.twig' %}

{% block navigation %}
    {% render "AnketaBundle:Statistics:menu" with { 'activeItems': [season.id, 'my_comments'] } %}
{% endblock %}

{% block content %}
    <h1>Moje komentáre</h1>
    <p>Tu sa nachádza zoznam vašich komentárov. Komentáre môžete pridávať z jednotlivých stránok s výsledkami.</p>

    <div class="results-comments results-comments-official">
    {% for response in responses %}
        <div class='comment' id="odpoved{{ response.id }}">
            <div class="comment-top">
                <strong><a href="{{ response.section.statisticsPath }}">{{ response.section.title }}</a></strong>:
            </div>
            <p class="comment-comment">{{ response.comment|escape|replace({"\n": "<br />"})|raw }}</p>
            <div>
                <a href="{{ path('response_edit', {'response_id': response.id}) }}">Upraviť komentár</a> |
                <a href="{{ path('response_delete', {'response_id': response.id}) }}">Zmazať komentár</a>
            </div>
        </div>
    {% else %}
        <p>Zatiaľ ste nepridali žiaden komentár.</p>
    {% endfor %}
    </div>
{% endblock %}
