{% extends 'AnketaBundle::layout.html.twig' %}

{% block navigation %}
    {{ menu.statistics.render([season.id, 'my_comments'])|raw }}
{% endblock %}

{% block content %}
    <h1>Moje komentáre</h1>
    <p>Tu sa nachádza zoznam vašich komentárov. Komentáre môžete pridávať z jednotlivých stránok s výsledkami.</p>

    <div class="results-comments results-comments-official">
    {% for item in responses %}
        <div class='comment' id="odpoved{{ item.response.id }}">
            <div class="comment-top">
                <strong><a href="{{ item.section.statisticsPath }}">{{ item.section.title }}</a></strong>:
            </div>
            <p class="comment-comment">{{ item.response.comment|escape|replace({"\n": "<br />"})|raw }}</p>
            {% if access.statistics.canEditResponse(item.response) %}
            <div>
                <a href="{{ path('response_edit', {'response_id': item.response.id}) }}">Upraviť komentár</a> |
                <a href="{{ path('response_delete', {'response_id': item.response.id}) }}">Zmazať komentár</a>
            </div>
            {% endif %}
        </div>
    {% else %}
        <p>Zatiaľ ste nepridali žiaden komentár.</p>
    {% endfor %}
    </div>
{% endblock %}
