{% extends 'AnketaBundle:Response:layout.html.twig' %}

{% block navigation %}

{% endblock %}
{% block content %}
<h1>Moje odpovede</h1>
<p>Tu sa nachádza zoznam odpovedí, ktorých ste autormi. Pridať odpoveď môžete
z príslušnej stránky výsledkov.</p>
<div class="results-comments results-comments-official">
{% if responses|length == 0 %}
<p>Zatiaľ ste nepridali žiadnu odpoveď</p>
{% endif %}
{% for response in responses %}
    <div class='comment' id="odpoved{{ response.id }}">
        <div class="comment-top">
        <b>{{ response.subject.name }}{% if response.teacher is not null %}/{{response.teacher.displayName}}{% endif %}</b>:
        </div>
        <p class="comment-comment">{{ response.comment }}</p>
        <div>
            <a href="{{ path('response_edit', {'response_id': response.id}) }}">Uprav odpoveď</a>
            <a href="{{ path('response_delete', {'response_id': response.id}) }}">Zmaž odpoveď</a>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
