{#
 # template for including, expects variable questions (array of questions)
 # and answers (array of already created answers)
 #}

<form action="#" method="post">
{% for question in questions %}
    <table>
        <tr>
            <td>
                Otazka: {{ question.getQuestion }}
            </td>
        </tr>
        {% if question.hasDescription %}
            <tr>
                <td>
                    Popis: {{ question.getDescription }}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>
                {% for option in question.getOptions %}
                    <input type="radio" name="question[{{ question.getId }}][answer]" value="{{ option.getId }}"
                        {% if answers[question.getId] is defined %}
                            {% if answers[question.getId].hasOption %}
                                {% if answers[question.getId].getOption.getId == option.getId %}
                                    checked="checked"
                                {% endif %}
                            {% endif %}
                        {% endif %} />
                    <label for="{{ option.getId }}">{{ option.getOption }}</label><br>
                {% endfor %}
            </td>
        </tr>
        {% if question.getHasComment %}
            <tr>
                <td>
                    <label for="comment_{{ question.getId }}">Komentar:</label>
                    <textarea id="comment_{{ question.getId }}" name="question[{{ question.getId }}][comment]" cols="40" rows="6">{% if answers[question.getId] is defined %}{{ answers[question.getId].getComment }}{% endif %}</textarea>
                </td>
            </tr>
        {% endif %}
    </table> <br /> <br />
{% endfor %}
    <input type="submit" name="submit" value="chod na dalsiu sekciu" />
</form>