{% extends 'AnketaBundle::layout.html.twig' %}
{% block navigation %}
    {{ menu.statistics.render([season.id, 'my_reports'])|raw }}
{% endblock %}
{% block content %}
<h1>{{ title }}
</h1>
{% if studyProgrammeLink is defined %}<a href="{{ studyProgrammeLink }}">Výsledky študijného programu</a>
{% endif %}
<h2>Hodnotenia učiteľov:
</h2>
<div class="results-comments">
{% for teacher in teachers %}
{% if teacher.evaluation[2] != 0 %}
    <div class="comment">
        <table>
<tr><td> {{ teacher.formattedName }}</td> <td>{{ teacher.evaluation[1] }} z 5 hviezdičiek</td> <td>({{ teacher.evaluation[2] }} hodnotení)</td></tr>
        </table>
        <ul>
{% for teacherSubject in teacher.subjects %}
<li>
<a href="{{ teacher.links[teacherSubject.id] }}">{{ teacherSubject.code }} {{ teacherSubject.name }}</a>
</li>
{% endfor %}
        </ul>
    </div>
{% endif %}
{% endfor %}
</div>
<h2>Hodnotenia predmetov:
</h2>
<div class="results-comments">
{% for subject in subjects %}
{% if subject.evaluation[2] != 0 %}
    <div class="comment">
        <table>
<tr> <td colspan="2"><a href="{{ subject.link }}">{{ subject.code }} {{  subject.name  }}</a></td></tr><tr> <td> {{ subject.evaluation[1] }} z 5 hviezdičiek </td> <td>({{ subject.evaluation[2] }} hodnotení)</td></tr>
{% if subject.teacher | length != 0 %}
<tr>
<td colspan="2">
(&nbsp;
{% for subjectTeacher in subject.teacher %}
<a href="{{ subject.links[subjectTeacher.id] }}">{{ subjectTeacher.displayName }}</a> &nbsp;
{% endfor %}
)
</td>
</tr>
{% endif %}
        </table>
    </div>
{% endif %}
{% endfor %}
</div>
{% endblock %}
